@media screen and (min-width: 68.75em)
{
    main 
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }   

    main section 
    {
        margin: 1rem 0;
    }

    main section:last-of-type
    {
        grid-column: 1/3;
    }
}