main img:not(#weatherIcon)
{
    width: 80%;
}


/* Main Content */

main button
{
    margin: 1rem 0;
    padding: 1rem;
    font-size: 2rem;
}

main h2
{
    margin-bottom: 0;
}

section
{
    border: var(--generalBorder);
}

section:not(section.weatherInfo)
{
    padding: 2rem;
}

    /* Setting the Weather's Text in proper format */

    .weatherInfo p
    {
        margin: 0;
    }

    .weatherInfo p:first-of-type
    {
        margin-top: 1rem;
    }

    .weatherInfo p:last-of-type, #weatherIcon
    {
        margin-bottom: 1rem;
    }

    #weatherIcon
    {
        height: 2rem;
    }

    #weather
    {
        display: inline-block;
    }

    /* Setting all the weather sections */

    .night
    {
        display: none;
    }

    #weatherCards
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

