:root 
{
    /* page colors */
    --darkGreen: #324332;
    --textColor: #a6ed92;
    
    /* Links */
    --hoverColor: #f3d3f1;

    /* Border Info */
    --borderColor: #488B49;
    --generalBorder: 0.25em solid var(--borderColor);
    
}


/* DOCUMENT */
img 
{
    width: 100%;
}

body 
{
    margin: 1em;
    text-align: center;
    background-color: var(--darkGreen);
    color: var(--textColor);
}

/* ALL HEADERS */

header h1 
{
    color: black;
}

header h2 
{
    background-color: var(--darkGreen);
    color: var(--brightGreen);
}

/* ALL NAVIGATIONS */

nav li #currentPage
{
    color: var(--hoverColor);
}

nav a:hover
{
    color: var(--hoverColor);
}

nav a
{
    color: var(--textColor);
}  

/* MAIN */
/* main section article arrows */
.currentImageIndicator
{
    display: inline;
}

/* the rest of main */

main section:not(#aboutUsSection)
{
    color: black;
    background-color: transparent;
}

#aboutUsSection 
{
    border: var(--generalBorder);
}

#buttonContainer
{
    margin-top: 1em;
}

/* FOOTER */
footer 
{
    margin-top: 1em;
    padding: 0.2em 0;
    border: var(--generalBorder);
}