:root 
{
    /* page colors */
    --backgroundColor: #324332;
    --textColor: #a6ed92;
    
    --bannerImg: url("../images/stroudsburg-head-image.webp");

    /* Link colors */
    --hoverColor: #f3d3f1;

    /* Border Info */
    --borderColor: #488B49;
    --generalBorder: 0.25em solid var(--borderColor);
}


:root .lightMode
{
    /* page colors */
    --backgroundColor: #a6ed92;
    --textColor: #0c4f11;

    /* Links */
    --hoverColor: #2216d0;

    /* Border Info */
    --borderColor: var(--textColor);
    --generalBorder: 0.25em solid var(--borderColor);
}


#costDisplaySection
{
    grid-column: 1/2;
    grid-row: 1/2;
}

#costDisplaySection p
{
    min-height: auto !important;
}

#costDisplaySection ul 
{
    list-style: none;
    padding: 0;
    border: var(--generalBorder);
    text-align: center;
}

#costDisplaySection ul li 
{
    margin-top: 10px;
}

#costDisplaySection ul li:last-child
{
    margin-bottom: 10px;
}

fieldset textarea 
{
    width:100%;
}

fieldset
{
    border: var(--generalBorder);
}

form 
{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: left;
}

/* Directory Page*/
#cards img 
{
    background-color: white;
}

/* Boise Cascade Logo */
.aCard:nth-child(2) img 
{
    background-color: white !important;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}

.list 
{
    display: flex;
    flex-direction: column;
}

.list div 
{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 0.5fr;
    margin: 0;
    padding: 0.25rem;
}

.list div img 
{
    display: none;
}


/* Join Page */

form legend
{
    text-align: center;
}

label:not(label:first-child)
{
    max-width: 400px;
    margin-top: 20px;
    display: block;
}

label:last-child
{
    margin-bottom: 20px;
}

input:not(input[type="radio"]) 
{
    display: block;
    width: 100%;
    height: 44px;
}

form>input 
{
    margin-top: 10px;
    background-color: var(--textColor);
    color: var(--backgroundColor);
}

input[type="radio"]
{
    margin-right: 10px;
}

.radioButtons
{
    display: block;
}

#costDisplaySection
{
    background-image: none;
    color: var(--textColor) !important;
    border: var(--generalBorder);
}

button:not(main button)
{
    color: var(--textColor);
}

/* DOCUMENT */
img 
{
    width: 100%;
}

body 
{
    margin: 1em;
    text-align: center;
    background-color: var(--backgroundColor);
    color: var(--textColor);
}

/* LIGHT MODE BUTTON */
#lightModeToggle
{
    position: fixed;
    font-size: 2em;
    top: 0.5em;
    right: 0.5em;   
    background: var(--backgroundColor);
    border-color: var(--borderColor);
    
    color: var(--textColor);
}

#lightModeToggle:not(#lightModeToggle.lightMode)::before
{
    content: "◙";
}

button.lightMode::before
{
    content: "☼";
}

/* ALL HEADERS */

header h1 
{
    color: black;
}

header h2 
{
    background-color: var(--backgroundColor);
    color: var(--brightGreen);
    text-align: center;
}

/* ALL NAVIGATIONS */

nav li #currentPage
{
    color: var(--hoverColor);
}

nav a:hover
{
    color: var(--hoverColor);
}

nav a
{
    color: var(--textColor);
}  

/* MAIN */
/* main section article arrows */
.currentImageIndicator
{
    display: inline;
}

/* the rest of main */

main section:not(#aboutUsSection)
{
    color: black;
    background-color: transparent;
}

#aboutUsSection 
{
    border: var(--generalBorder);
}

#buttonContainer
{
    margin-top: 1em;
}

/* FOOTER */
footer 
{
    margin-top: 1em;
    padding: 0.2em 0;
    border: var(--generalBorder);
}


main #leftPane, main #leftPane section, main #rightPane, main #rightPane section
{
    
    background-image: none !important;
    color: var(--textColor) !important;
}

main #leftPane p, main #rightPane p 
{
    min-height: auto !important;        
}


main #leftPane section, main #rightPane section
{
    display: block;
}

main #rightPane p
{
    position: relative;
    display: inline;
    padding: 0.2em;
    background-color: var(--backgroundColor);
}

main #rightPane img 
{
    filter: blur(2px);
}

main #rightPane img:hover 
{
    filter: blur(0);
}