/* base.Min-width = larger.Min-width = 0.001 */
@media screen and (max-width: 46.875em)
{
    /* HEADER */

    /* --Page Title section-- */
    header section 
    {
        background-image: var(--bannerImg);
        padding: 2em;
    }

    header h1 
    {
        background-color: var(--backgroundColor);
        color: var(--brightGreen);
        border: var(--generalBorder);
    }

    /* --Temperature-- */
    header h2
    {
        display: inline-block;
        margin: 0;
        padding: 0.5em 1em;
        border: var(--generalBorder);
        border-top: 0;
    }

    /* NAV CHANGES */
    
    /* --Hamburger Menu-- */

    #menu.navMenuOpen::before
    {
        content: "X";
    }

    #menu::before 
    {
        content: "☰";
    }

    #menu
    {
        position: fixed;
        top: 1em;
        left: 1em;   
        background: var(--backgroundColor);
        border-color: var(--borderColor);
    }

    nav.navMenuOpen
    {
        display: block;
    }

    /* --General Nav Data-- */
    nav
    {
        display: none;
        position: fixed;
        background-color: var(--backgroundColor);
        border: var(--generalBorder);
        height: 100%;
        width: 30%;
        font-size: 1.5em;
        top: 0;
        left: 0;
    }

    nav ul
    {
        margin-top: 2em;
        list-style: none;
        padding-left: 0;
    }

    nav li 
    {
        margin: 1em 0;
    }

 

    /* MAIN CONTENT */
    /* --Community Spotlight-- */


    main section 
    {
        margin: 0 2em;
    }

    main section:not(#aboutUsSection)
    {
        background-image: url("../images/placeholder.png");
        padding: 1em;
    }

    /* --About Us-- */

    #aboutUsSection p:not(#aboutUsSection p:last-child)
    {
        padding-bottom: 2em;
        border-bottom: var(--generalBorder);
    }

    
    main #rightPane p
    {
        top: -5em;
    }
}
