@media screen and (min-width: 46.876em)
{
    main 
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main #leftPane, main #leftPane section, main #rightPane, main #rightPane section
    {
        
        background-image: none;
        color: var(--textColor) !important;
    }

    main #leftPane p, main #rightPane p 
    {
        min-height: auto !important;        
    }


    main #leftPane 
    {
        grid-column: 1/2;
    }

    main #rightPane
    {
        grid-column: 2/3;
    }

    main section:nth-of-type(3)
    {
        display: block;
    }

    main #rightPane p
    {
        position: relative;
        display: inline;
        top: -11em;
        padding: 0.2em;
        background-color: var(--backgroundColor);
    }
}